*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}


.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto;
  }
  
  .square {
    width: calc(100% / 16);
    height: calc(100% / 16);
    border: 1px solid rgb(24, 151, 10);
  }
  
  .square:hover {
    background-color: rgb(5, 9, 203);
  }
  